{% extends 'mall/base.html' %}

{% block main_area %}
                    {% if item_list.exists %}
                    {% for p in item_list %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ p.head_image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder card-title">{{ p.title }}</h5>
                                    <!-- Product price-->
                                    <p>{{ p.price }}</p>
                                    {% if p.hook_text %}
                                        <h5 class="text_muted">{{ p.hook_text }}</h5>
                                    {% endif %}
                                </div>
                                <p class="card-text">{{ p.content }}</p>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ p.get_absolute_url }}">View options</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h3>아직 상품이 없습니다.</h3>
                        {% endif %}

{% endblock %}